In this notebook, we concatenate the matches dataset from Kaggle (1982-2020) and our scraped dataset (2020-2025).

In [1]:
import pandas as pd
import numpy as np

In [2]:
matches1 = pd.read_csv('Kaggle Data/matches (1982-2020) v2.csv')
matches2 = pd.read_csv('Scraped Data/matches (2020-2025) v1.csv')

In [3]:
matches1.head()

,Unnamed: 0,tournament_id,match_id,date,stage,best_of,player1_name,player1_url,player2_name,player2_url,score1,score2,frames_scores,is_walkover,status,total,year
0,0,753,82766,NaN,Round 1,17,Colin Roscoe,https://cuetracker.net/players/colin-roscoe,Jackie Rea,https://cuetracker.net/players/jackie-rea,9,6,34-63; 40-56; 33-68; 70(58)-47; 64-23; 94(62)-...,False,Professional,15,1982
1,1,753,82770,NaN,Round 1,17,Tommy Murphy,https://cuetracker.net/players/tommy-murphy,Clive Everton,https://cuetracker.net/players/clive-everton,9,4,69(59)-24; 77-34; 77-64; 58-52; 11-68; 37-62; ...,False,Professional,13,1982
2,2,753,82771,NaN,Round 1,17,Vic Harris,https://cuetracker.net/players/vic-harris,Marcus Owen,https://cuetracker.net/players/marcus-owen,9,4,36-40; 71(69)-43; 63-18; 14-87; 65-37; 35-92; ...,False,Professional,13,1982
3,3,753,82765,NaN,Round 1,17,Bob Harris,https://cuetracker.net/players/bob-harris,Graham Cripsey,https://cuetracker.net/players/graham-cripsey,9,6,78-61; 76-44; 65(59)-72; 29-90; 66-57; 88(65)-...,False,Professional,15,1982
4,4,753,82767,NaN,Round 1,17,Geoff Foulds,https://cuetracker.net/players/geoff-foulds,Matt Gibson,https://cuetracker.net/players/matt-gibson,9,3,30-77; 58-11; 50-76; 58-14; 42-72; 59-36; 53-1...,False,Professional,12,1982

In [4]:
#
matches1 = matches1[['player1_name', 'player2_name', 'score1', 'score2', 'best_of', 'tournament_id', 'date', 'year']]
matches1.rename(columns={'player1_name': 'player1', 'player2_name': 'player2'}, inplace=True)

In [5]:
matches2.head()

,Unnamed: 0,Player1,Player2,Score1,Score2,Best Of,Round Name,Match Date,Tournament Name,Tournament id,Year,length,tournament_start_date
0,0,Mark Selby,Jimmy Robertson,3,1,5,Group 1,2019-10-08,2020 Championship League,3275,2020,15485,2019-10-07 00:00:00
1,1,Mark Selby,Ryan Day,3,2,5,Group 1,2019-10-08,2020 Championship League,3275,2020,15485,2019-10-07 00:00:00
2,2,Mark Selby,Luca Brecel,3,0,5,Group 1,2019-10-07,2020 Championship League,3275,2020,15485,2019-10-07 00:00:00
3,3,Neil Robertson,Jack Lisowski,3,1,5,Group 1,2019-10-08,2020 Championship League,3275,2020,15485,2019-10-07 00:00:00
4,4,Neil Robertson,Luca Brecel,3,1,5,Group 1,2019-10-08,2020 Championship League,3275,2020,15485,2019-10-07 00:00:00

In [6]:
matches2 = matches2[['Player1', 'Player2', 'Score1', 'Score2', 'Best Of', 'Tournament id', 'Match Date', 'Year']]
matches2.rename(columns={'Player1': 'player1',
                         'Player2': 'player2',
                         'Score1': 'score1',
                         'Score2': 'score2',
                         'Best Of': 'best_of',
                         'Tournament id': 'tournament_id',
                         'Match Date': 'date',
                         'Year': 'year'}, inplace=True)

In [7]:
matches2.head()

,player1,player2,score1,score2,best_of,tournament_id,date,year
0,Mark Selby,Jimmy Robertson,3,1,5,3275,2019-10-08,2020
1,Mark Selby,Ryan Day,3,2,5,3275,2019-10-08,2020
2,Mark Selby,Luca Brecel,3,0,5,3275,2019-10-07,2020
3,Neil Robertson,Jack Lisowski,3,1,5,3275,2019-10-08,2020
4,Neil Robertson,Luca Brecel,3,1,5,3275,2019-10-08,2020

In [8]:
matches1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100241 entries, 0 to 100240
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   player1        100241 non-null  object
 1   player2        100241 non-null  object
 2   score1         100241 non-null  int64
 3   score2         100241 non-null  int64
 4   best_of        100241 non-null  int64
 5   tournament_id  100241 non-null  int64
 6   date           23617 non-null   object
 7   year           100241 non-null  int64
dtypes: int64(5), object(3)
memory usage: 6.1+ MB

In [9]:
matches2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15485 entries, 0 to 15484
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player1        15485 non-null  object
 1   player2        15485 non-null  object
 2   score1         15485 non-null  int64
 3   score2         15485 non-null  int64
 4   best_of        15485 non-null  int64
 5   tournament_id  15485 non-null  int64
 6   date           15481 non-null  object
 7   year           15485 non-null  int64
dtypes: int64(5), object(3)
memory usage: 967.9+ KB

In [10]:
#Delete the common matches from matches1
matches2_ids = matches2['tournament_id'].unique()
print('Original length of matches1 is:', len(matches1))
for id in matches2_ids:
    matches1 = matches1[matches1['tournament_id'] != id]

print('After deleting common matches, the length of matches1 is:', len(matches1))

Original length of matches1 is: 100241
After deleting common matches, the length of matches1 is: 100145

In [11]:
matches = pd.concat([matches1, matches2], axis = 0, ignore_index = True)

In [12]:
matches.head()

,player1,player2,score1,score2,best_of,tournament_id,date,year
0,Colin Roscoe,Jackie Rea,9,6,17,753,NaN,1982
1,Tommy Murphy,Clive Everton,9,4,17,753,NaN,1982
2,Vic Harris,Marcus Owen,9,4,17,753,NaN,1982
3,Bob Harris,Graham Cripsey,9,6,17,753,NaN,1982
4,Geoff Foulds,Matt Gibson,9,3,17,753,NaN,1982

In [13]:
matches.columns

Index(['player1', 'player2', 'score1', 'score2', 'best_of', 'tournament_id',
       'date', 'year'],
      dtype='object')

In [14]:
matches.to_csv('matches.csv', index=False)