In [1]:
import pandas as pd
import numpy as np

In [2]:
matches = pd.read_csv('/Users/tliu/Desktop/Erdos Project/Data/matches.csv')

In [3]:
matches.head()

,player1,player2,score1,score2,best_of,tournament_id,date,year
0,Colin Roscoe,Jackie Rea,9,6,17,753,NaN,1982
1,Tommy Murphy,Clive Everton,9,4,17,753,NaN,1982
2,Vic Harris,Marcus Owen,9,4,17,753,NaN,1982
3,Bob Harris,Graham Cripsey,9,6,17,753,NaN,1982
4,Geoff Foulds,Matt Gibson,9,3,17,753,NaN,1982

In [4]:
from elo_v3 import elo_rating
elo = elo_rating()

In [5]:
elo.update_stats(matches = matches, K_factor = 6, ratio = 0.1)

/Users/tliu/Desktop/Erdos Project/Elo Rating/elo_v3/elo_v3.py:120: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.stats_by_years.fillna(0, inplace = True)

,elo_rating,matches_played,matches_won,matches_win_rate,frames_played,frames_won,frames_win_rate
A Barrett,992,1,0,0.000000,5,2,0.400000
A Bulajiang,977,8,1,0.125000,48,17,0.354167
A Chan,999,2,1,0.500000,9,4,0.444444
A Coleman,989,1,0,0.000000,6,2,0.333333
A Noad,992,1,0,0.000000,3,0,0.000000
...,...,...,...,...,...,...,...
Zsolt Fenyvesi,958,4,0,0.000000,21,5,0.238095
Zulfigar Cheema,858,9,0,0.000000,53,8,0.150943
Zulfiqar Qadir,986,6,2,0.333333,35,15,0.428571
Zung Chun Hong,999,1,0,0.000000,2,0,0.000000
Özyurt Aksoy,963,3,0,0.000000,14,2,0.142857

In [6]:
stats = elo.stats
stats.sort_values(by = ['elo_rating'], ascending=False).head(20)

,elo_rating,matches_played,matches_won,matches_win_rate,frames_played,frames_won,frames_win_rate
Judd Trump,2121,1534,1106,0.720991,10667,6449,0.604575
Kyren Wilson,2057,1122,721,0.642602,7218,4082,0.565531
Ronnie O'Sullivan,2040,1555,1181,0.759486,13448,8192,0.609161
Zhao Xintong,2035,375,223,0.594667,2525,1419,0.561980
John Higgins,2035,1933,1363,0.705122,15024,8851,0.589124
Mark Williams,1950,1835,1201,0.654496,13500,7733,0.572815
Mark Selby,1948,1640,1121,0.683537,11668,6793,0.582191
Yan Bingtao,1900,354,232,0.655367,2479,1406,0.567164
Shaun Murphy,1898,1413,927,0.656051,10226,5803,0.567475
Neil Robertson,1881,1331,883,0.663411,9729,5599,0.575496
Ding Junhui,1876,1033,685,0.663117,7985,4538,0.568316
Barry Hawkins,1876,1391,870,0.625449,9636,5396,0.559983
Mark Allen,1875,1125,747,0.664000,7998,4541,0.567767
Luca Brecel,1838,676,394,0.582840,4573,2470,0.540127
Xiao Guodong,1830,814,475,0.583538,5179,2844,0.549141
Stephen Lee,1800,711,451,0.634318,5650,3158,0.558938
Hossein Vafaei,1778,376,227,0.603723,2600,1386,0.533077
Chris Wakelin,1767,486,263,0.541152,3135,1627,0.518979
Ali Carter,1758,1381,848,0.614048,9313,5132,0.551058
Paul Hunter,1752,341,223,0.653959,2978,1669,0.560443

In [7]:
players_ranked = stats.sort_values(by = ['elo_rating'], ascending=False).index

In [8]:
stats_by_years = elo.stats_by_years
stats_by_years.loc[players_ranked]

,matches_played_3_years,matches_won_3_years,matches_played_1_year,matches_won_1_year,frames_played_3_years,frames_won_3_years,frames_played_1_year,frames_won_1_year
Judd Trump,212,168,44,32,1643,1020,324,191
Kyren Wilson,218,147,39,28,1429,828,300,165
Ronnie O'Sullivan,101,73,9,4,901,534,101,53
Zhao Xintong,16,15,9,9,230,150,172,111
John Higgins,190,131,26,20,1343,784,280,162
...,...,...,...,...,...,...,...,...
Dennis Hughes,0,0,0,0,0,0,0,0
Jack Fitzmaurice,0,0,0,0,0,0,0,0
Bert Demarco,0,0,0,0,0,0,0,0
Bernard Bennett,0,0,0,0,0,0,0,0
Clive Everton,0,0,0,0,0,0,0,0